.BarSize {
    background-color: #bdbdbd;
    width: 300px;
    height: 700px;
    position: fixed;
    left: 10px;
    border-radius: 10px;
}

button {
    background-color: transparent;
    border: 0;
}

button:hover {
    color: #ff7f50;
    cursor:pointer;
}

.title {
    padding-left: 5px;
    display:inline-block;
    width: 100px;
    color: white;
}

.dropDown {
    border-top: 1px;
    border-bottom: 1px;
}